<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ausleihhomepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h1>Ausleihhomepage für die Bücher der WG</h1>
<h2>Buchliste</h2>
<table>
    <thead>
    <tr>
        <th>Titel</th>
        <th>Autor</th>
        <th>ISBN</th>
        <th>Verfügbarkeit</th>
        <th>Ausleihen</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
            <td>
                <span th:if="${book.available}">verfügbar</span>
                <span th:unless="${book.available}">ausgeliehen</span>
            </td>

            <td>
                <ul>
                    <th:block th:each="borrow : ${book.borrows}">
                        <li th:text="${borrow.getDate()}"></li>
                    </th:block>
                </ul>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
<a href="/register"><button>Bewohner anlegen</button></a>
<a href="/borrow"><button>Buch ausleihen</button></a>
</body>
</html>

