<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuen Hausbewohner anlegen</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<a href="/"><button>Zurück zur Startseite</button></a>
<h1>Neuen Hausbewohner anlegen</h1>

<form action="/register" method="post" th:object="${user}">
    <label for="username">Benutzername:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <br>
    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <br>
    <label for="firstname">Vorname:</label>
    <input type="text" id="firstname" name="firstname" th:field="*{firstName}" required>
    <br>
    <label for="lastname">Nachname:</label>
    <input type="text" id="lastname" name="lastname" th:field="*{lastName}" required>
    <br>
    <label for="address">Adresse:</label>
    <input type="text" id="address" name="address" th:field="*{address}" required>
    <br>
    <label for="phone">Telefonnummer:</label>
    <input type="text" id="phone" name="phone" th:field="*{phone}" required>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:field="*{email}" required>
    <br>
    <button type="submit">Anlegen</button>
</form>
</body>
</html>
